@import url("https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

body {
  background-color: #e0f7fa;
  color: #27272a;
  font-family: "Roboto", sans-serif;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  display: none;
}
.anton-regular {
  font-family: "Anton", sans-serif;
}
.first-container {
  max-width: 1440px;
}
.second-container {
  max-width: 1180px;
}
.large-active.active {
  background-color: #0891b2;
  color: #fff;
}
.small-active.active {
  color: #0891b2;
}
.custom-shadow {
  box-shadow:
    0 -4px 6px -1px rgb(0 0 0 / 0.1),
    0 -2px 4px -2px rgb(0 0 0 / 0.1);
}
